<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Add a New Entry</h1>
  <div class="col-6 offset-3">
    <form
      action="/journals"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="journals[title]"
          id="title"
          placeholder="Title"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <div class="mb-3 custom-file">
          <!-- <label
            for="formFileMultiple"
            class="form-label custom-file-label"
            for="imamges"
            >Add Image(s)</label
          >
          <input
            class="form-control"
            type="file"
            id="images"
            name="journals[image]"
            id="formFileMultiple"
            multiple
          />
        </div> -->

        <!-- <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" name="campground[image]" id="image" placeholder="Image URL"
                        required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div> -->
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="image"
          name="campground[description]"
          placeholder="Description"
          required
        ></textarea>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Entries</button>
      </div>
    </form>
    <a href="/journals">All Entries</a>
  </div>
</div>
